
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background-color: #0078d7;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        header h1 {
            margin: 0;
        }
        nav {
            margin-top: 10px;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        section {
            margin-bottom: 20px;
        }
        section h2 {
            margin-top: 0;
        }
        .teste{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: auto; 
            z-index: 10; 
        }
        .center{
                text-align: center;
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #0078d7;
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
  
